.block{
    width: 150px;
    height: 150px;
    border: solid;
    border-color: red;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}