.feild{
    width: 500px;
    height: 500px;
    border: solid;
    border-color: red;
    border-radius: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.blockInField{
    border: dashed;
    border-color: red;
    border-radius: 3%;
}

.xOInput{
    width: 95%;
    height: 95%;
    border-radius: 3%;
    border-color: transparent;
}